body{
    background-color: #D8D1E2;
}

p{
    margin: 0;
}

.block{
    border: 1px solid black;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: wheat;
}

.block img{
    flex: 0 0 auto;
    align-self: center;
    margin-left: 10px;

}

.txt_user{
    width: 60%;
    margin: auto;
}
.more{
    float: right;
}