<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/anketa.css">
    <title>{{title}}</title>
</head>

<body>
<header class="header">
    <nav class="navbar navbar-light bg-white">
        <a class="navbar-brand" href="/">
            <h1>Folow</h1>
        </a>
        {% if current_user.is_authenticated %}
            <a class="btn btn-danger noadapt burger_hide" href="/my_anketa">Моя анкета</a>
        <a class="btn btn-danger noadapt burger_hide" href="/chat_user">Чат</a>
        <a class="navbar-brand noadapt burger_hide" href="/logout"><img
                src={{src}} alt="" width="75" height="75"></a>
        </div>

        {% else %}
        <p>
            <a class="btn btn-primary noadapt" href="/register">Зарегистрироваться</a>
            <a class="btn btn-success noadapt" href="/login">Войти</a>
        </p>
        {% endif %}
        <a href="/mobile_burger" class="adapt"><button class="navbar-toggler" type="button" id="burger_btn">
            <span class="navbar-toggler-icon"></span>
        </button></a>
    </nav>
</header>
<!-- Begin page content -->
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
<script src="/static/js/textarea.js"></script>
</body>

</html>