{% extends "index.html" %}

{% block content %}
<h1>Анкеты</h1>

<div class="block">
    <img src="https://imgholder.ru/200x200/8493a8/adb9ca&text=UserName&font=kelson" alt="">
    <div class="txt_user">
        <div class="name">
            Имя: Fylhtq
        </div>
        <div class="age">
            Возраст: 32
        </div>
        <div class="city">
            Город: Москва
        </div>
        <div class="about">
            <p>О себе</p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Adipisci nemo unde quae velit ut eius aliquid et sed,
            dolores quaerat placeat mollitia, necessitatibus aspernatur
            laudantium tenetur explicabo hic! Possimus, illo?
        </div>
        <div class="more">
            <a class="btn btn-success " href="">Подробнее</a>
        </div>
    </div>
</div>

{% endblock %}